
@{
    ViewBag.Title = "Produce";
    Layout = "~/Views/Shared/_Masterlayout.cshtml";
}
<link href="~/Content/stylemaster.css" rel="stylesheet" />
<div class="container">
    <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
            <a href="http://nhanam.com.vn/combo-sach-null/null">
                <img src="http://static.nhanam.com.vn/thumb/0x0/crop/Features/Images/2023/6/2/IKL9K4ZN.jpg" alt="S&#225;ch thiếu nhi" />
            </a>
            <a href="http://nhanam.com.vn/combo-sach-null/null">
                <img src="http://static.nhanam.com.vn/thumb/0x0/crop/Features/Images/2023/6/2/324GZ5JJ.jpg" alt="S&#225;ch mới" />
            </a>
            <a href="http://nhanam.com.vn/combo-sach-null/null">
                <img src="http://static.nhanam.com.vn/thumb/0x0/crop/Features/Images/2023/6/2/B2ZJL1L1.jpg" alt="S&#225;ch t&#225;i bản" />
            </a>
        </div>
    </div>
    <h1 class="pagetitle">
        <a>
            Sách mới - Tái bản
        </a>
    </h1>
    <ul class="listbook clearfix">
        <li class="book bookimage0">
            <div class="wrap">
                <a title="Tang lễ của người An Nam – Nghiên cứu dân tộc học về tín ngưỡng cổ truyền">
                    <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2023/9/21/YJAVRYJB.jpg" alt="Tang lễ của người An Nam – Nghiên cứu dân tộc học về tín ngưỡng cổ truyền" />
                </a>
                <div class="popup">
                    <h1 class="name">
                        <a title="Tang lễ của người An Nam – Nghiên cứu dân tộc học về tín ngưỡng cổ truyền">
                            Tang lễ của người An Nam – Nghiên cứu dân tộc học về tín ngưỡng cổ truyền
                        </a>
                    </h1>
                    <div class="description"><ul><li>Số trang: 412</li><li>Kích thước: 17x25 cm</li><li>Ngày phát hành: 06-10-2023</li></ul></div>
                    <p class="price">
                        231.200đ
                        <span class="old">289.000đ</span>
                    </p>
                    <a href="javascript:;" class="addtocart" data-id="48719" data-state="0">Thêm vào giỏ hàng</a>
                    <a href="javascript:;" class="buynow" data-id="48719" data-state="0">Mua ngay</a>
                </div>
            </div>
        </li>
        <li class="book  bookimage0">
            <div class="wrap">
                <a href="/sach/48725/bach-gia-chu-tu-cac-mon-phai-triet-hoc-duoi-t" class="image" title="B&#225;ch gia chư tử (C&#225;c m&#244;n ph&#225;i triết học dưới thời Xu&#226;n Thu Chiến Quốc) ">
                    <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2023/9/26/WX31DFBL.jpg" alt="B&#225;ch gia chư tử (C&#225;c m&#244;n ph&#225;i triết học dưới thời Xu&#226;n Thu Chiến Quốc) " />
                </a>
                <div class="popup">
                    <h1 class="name">
                        <a href="/sach/48725/bach-gia-chu-tu-cac-mon-phai-triet-hoc-duoi-t" title="B&#225;ch gia chư tử (C&#225;c m&#244;n ph&#225;i triết học dưới thời Xu&#226;n Thu Chiến Quốc) ">
                            B&#225;ch gia chư tử (C&#225;c m&#244;n ph&#225;i triết học dưới thời Xu&#226;n Thu Chiến Quốc)
                        </a>
                    </h1>
                    <div class="description"><ul><li>Số trang: 487</li><li>Kích thước: 15.5x24 cm</li><li>Ngày phát hành: 06-10-2023</li></ul></div>
                    <p class="price">
                        172.000đ
                        <span class="old">215.000đ</span>
                    </p>
                    <a href="javascript:;" class="addtocart" data-id="48725" data-state="0">Thêm vào giỏ hàng</a>
                    <a href="javascript:;" class="buynow" data-id="48725" data-state="0">Mua ngay</a>
                </div>
            </div>
        </li>
        <li class="book  bookimage0">
            <div class="wrap">
                <a href="/sach/48726/nam-hoa-kinh" class="image" title="Nam Hoa Kinh">
                    <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2023/9/29/6GA5OL6Z.jpg" alt="Nam Hoa Kinh" />
                </a>
                <div class="popup">
                    <h1 class="name">
                        <a href="/sach/48726/nam-hoa-kinh" title="Nam Hoa Kinh">
                            Nam Hoa Kinh
                        </a>
                    </h1>
                    <div class="description"><ul><li>Số trang: 334</li><li>Kích thước: 15x24 cm</li><li>Ngày phát hành: 06-10-2023</li></ul></div>
                    <p class="price">
                        87.200đ
                        <span class="old">109.000đ</span>
                    </p>
                    <a href="javascript:;" class="addtocart" data-id="48726" data-state="0">Thêm vào giỏ hàng</a>
                    <a href="javascript:;" class="buynow" data-id="48726" data-state="0">Mua ngay</a>
                </div>
            </div>
        </li>
        <li class="book  bookimage0">
            <div class="wrap">
                <a href="/sach/48727/chuyen-gia-tu-vung---co-gi-trong-thanh-pho" class="image" title="Chuy&#234;n gia từ vựng - C&#243; g&#236; trong th&#224;nh phố">
                    <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2023/9/30/MT2Q17KV.jpg" alt="Chuy&#234;n gia từ vựng - C&#243; g&#236; trong th&#224;nh phố" />
                </a>
                <div class="popup">
                    <h1 class="name">
                        <a href="/sach/48727/chuyen-gia-tu-vung---co-gi-trong-thanh-pho" title="Chuy&#234;n gia từ vựng - C&#243; g&#236; trong th&#224;nh phố">
                            Chuy&#234;n gia từ vựng - C&#243; g&#236; trong th&#224;nh phố
                        </a>
                    </h1>
                    <div class="description"><ul><li>Số trang: 48</li><li>Kích thước: 23x26 cm</li><li>Ngày phát hành: 06-10-2023</li></ul></div>
                    <p class="price">
                        60.000đ
                        <span class="old">75.000đ</span>
                    </p>
                    <a href="javascript:;" class="addtocart" data-id="48727" data-state="0">Thêm vào giỏ hàng</a>
                    <a href="javascript:;" class="buynow" data-id="48727" data-state="0">Mua ngay</a>
                </div>
            </div>
        </li>
        <li class="book  bookimage0">
            <div class="wrap">
                <a href="/sach/48728/chuyen-gia-tu-vung---co-gi-o-san-bay" class="image" title="Chuy&#234;n gia từ vựng - C&#243; g&#236; ở s&#226;n bay">
                    <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2023/9/30/XL23QZ8W.jpg" alt="Chuy&#234;n gia từ vựng - C&#243; g&#236; ở s&#226;n bay" />
                </a>
                <div class="popup">
                    <h1 class="name">
                        <a href="/sach/48728/chuyen-gia-tu-vung---co-gi-o-san-bay" title="Chuy&#234;n gia từ vựng - C&#243; g&#236; ở s&#226;n bay">
                            Chuy&#234;n gia từ vựng - C&#243; g&#236; ở s&#226;n bay
                        </a>
                    </h1>
                    <div class="description"><ul><li>Số trang: 48</li><li>Kích thước: 23x26 cm</li><li>Ngày phát hành: 06-10-2023</li></ul></div>
                    <p class="price">
                        60.000đ
                        <span class="old">75.000đ</span>
                    </p>
                    <a href="javascript:;" class="addtocart" data-id="48728" data-state="0">Thêm vào giỏ hàng</a>
                    <a href="javascript:;" class="buynow" data-id="48728" data-state="0">Mua ngay</a>
                </div>
            </div>
        </li>
        <li class="book  bookimage0">
            <div class="wrap">
                <a href="/sach/48721/suong-kho-tieu-tien---cach-tieu-pha-thoi-thuo" class="image" title="Sướng khổ ti&#234;u tiền - C&#225;ch ti&#234;u pha thời thượng của giới trẻ H&#224;n Quốc ">
                    <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2023/9/26/H98JNY9Z.jpg" alt="Sướng khổ ti&#234;u tiền - C&#225;ch ti&#234;u pha thời thượng của giới trẻ H&#224;n Quốc " />
                </a>
                <div class="popup">
                    <h1 class="name">
                        <a href="/sach/48721/suong-kho-tieu-tien---cach-tieu-pha-thoi-thuo" title="Sướng khổ ti&#234;u tiền - C&#225;ch ti&#234;u pha thời thượng của giới trẻ H&#224;n Quốc ">
                            Sướng khổ ti&#234;u tiền - C&#225;ch ti&#234;u pha thời thượng của giới trẻ H&#224;n Quốc
                        </a>
                    </h1>
                    <div class="description"><ul><li>Số trang: 141</li><li>Kích thước: 14 x 20.5cm</li><li>Ngày phát hành: 04-10-2023</li></ul></div>
                    <p class="price">
                        68.800đ
                        <span class="old">86.000đ</span>
                    </p>
                    <a href="javascript:;" class="addtocart" data-id="48721" data-state="0">Thêm vào giỏ hàng</a>
                    <a href="javascript:;" class="buynow" data-id="48721" data-state="0">Mua ngay</a>
                </div>
            </div>
        </li>
        <li class="book  bookimage0">
            <div class="wrap">
                <a href="/sach/48715/tat-xau-nguoi-viet" class="image" title="Tật xấu người Việt">
                    <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2023/9/20/Y99P6JYW.jpg" alt="Tật xấu người Việt" />
                </a>
                <div class="popup">
                    <h1 class="name">
                        <a href="/sach/48715/tat-xau-nguoi-viet" title="Tật xấu người Việt">
                            Tật xấu người Việt
                        </a>
                    </h1>
                    <div class="description"><ul><li>Số trang: 384</li><li>Kích thước: 14 x 20.5cm</li><li>Ngày phát hành: 04-10-2023</li></ul></div>
                    <p class="price">
                        119.200đ
                        <span class="old">149.000đ</span>
                    </p>
                    <a href="javascript:;" class="addtocart" data-id="48715" data-state="0">Thêm vào giỏ hàng</a>
                    <a href="javascript:;" class="buynow" data-id="48715" data-state="0">Mua ngay</a>
                </div>
            </div>
        </li>
        <li class="book  bookimage0">
            <div class="wrap">
                <a href="/sach/47738/nguoi-dai-bac" class="image" title="Người Đ&#224;i Bắc">
                    <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2023/9/11/PYJH3EKD.jpg" alt="Người Đ&#224;i Bắc" />
                </a>
                <div class="popup">
                    <h1 class="name">
                        <a href="/sach/47738/nguoi-dai-bac" title="Người Đ&#224;i Bắc">
                            Người Đ&#224;i Bắc
                        </a>
                    </h1>
                    <div class="description"><ul><li>Số trang: 313</li><li>Kích thước: 14 x 20.5cm</li><li>Ngày phát hành: 04-10-2023</li></ul></div>
                    <p class="price">
                        143.200đ
                        <span class="old">179.000đ</span>
                    </p>
                    <a href="javascript:;" class="addtocart" data-id="47738" data-state="0">Thêm vào giỏ hàng</a>
                    <a href="javascript:;" class="buynow" data-id="47738" data-state="0">Mua ngay</a>
                </div>
            </div>
        </li>
        <li class="book  bookimage0">
            <div class="wrap">
                <a href="/sach/47724/de-tham-qua-bao-chi-va-ho-so-mat-tham-phap-o" class="image" title="Đề th&#225;m (Qua b&#225;o ch&#237; v&#224; hồ sơ mật th&#225;m Ph&#225;p ở Đ&#244;ng Dương năm 1909)">
                    <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2023/8/28/VEA9HWFB.jpg" alt="Đề th&#225;m (Qua b&#225;o ch&#237; v&#224; hồ sơ mật th&#225;m Ph&#225;p ở Đ&#244;ng Dương năm 1909)" />
                </a>
                <div class="popup">
                    <h1 class="name">
                        <a href="/sach/47724/de-tham-qua-bao-chi-va-ho-so-mat-tham-phap-o" title="Đề th&#225;m (Qua b&#225;o ch&#237; v&#224; hồ sơ mật th&#225;m Ph&#225;p ở Đ&#244;ng Dương năm 1909)">
                            Đề th&#225;m (Qua b&#225;o ch&#237; v&#224; hồ sơ mật th&#225;m Ph&#225;p ở Đ&#244;ng Dương năm 1909)
                        </a>
                    </h1>
                    <div class="description"><ul><li>Số trang: 479</li><li>Kích thước: 15.5x24 cm</li><li>Ngày phát hành: 29-09-2023</li></ul></div>
                    <p class="price">
                        175.200đ
                        <span class="old">219.000đ</span>
                    </p>
                    <a href="javascript:;" class="addtocart" data-id="47724" data-state="0">Thêm vào giỏ hàng</a>
                    <a href="javascript:;" class="buynow" data-id="47724" data-state="0">Mua ngay</a>
                </div>
            </div>
        </li>
        <li class="book  bookimage0">
            <div class="wrap">
                <a href="/sach/48707/an-nam-thoi-xua" class="image" title="AN NAM THỜI XƯA">
                    <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2023/9/16/T7PHY7OW.jpg" alt="AN NAM THỜI XƯA" />
                </a>
                <div class="popup">
                    <h1 class="name">
                        <a href="/sach/48707/an-nam-thoi-xua" title="AN NAM THỜI XƯA">
                            AN NAM THỜI XƯA
                        </a>
                    </h1>
                    <div class="description"><ul><li>Số trang: 394</li><li>Kích thước: 14 x 20.5cm</li><li>Ngày phát hành: 27-09-2023</li></ul></div>
                    <p class="price">
                        120.000đ
                        <span class="old">150.000đ</span>
                    </p>
                    <a href="javascript:;" class="addtocart" data-id="48707" data-state="0">Thêm vào giỏ hàng</a>
                    <a href="javascript:;" class="buynow" data-id="48707" data-state="0">Mua ngay</a>
                </div>
            </div>
        </li>
    </ul>
    <h1 class="pagetitle">
        <a href="/chuyen-muc/42/sach-ban-chay">
            Sách bán chạy
        </a>
    </h1>
    <ul class="listbook clearfix">
        <li class="book  bookimage0">
            <div class="wrap">
                <a href="/sach/44701/ngoi-thu-nhat-so-it" class="image" title="Ng&#244;i thứ nhất số &#237;t">
                    <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2023/5/17/9O1P9EV7.jpg" alt="Ng&#244;i thứ nhất số &#237;t" />
                </a>
                <div class="popup">
                    <h1 class="name">
                        <a href="/sach/44701/ngoi-thu-nhat-so-it" title="Ng&#244;i thứ nhất số &#237;t">
                            Ng&#244;i thứ nhất số &#237;t
                        </a>
                    </h1>
                    <div class="description"><ul><li>Số trang: 203</li><li>Kích thước: 14 x 20.5cm</li><li>Ngày phát hành: 24-05-2023</li></ul></div>
                    <p class="price">
                        86.400đ
                        <span class="old">108.000đ</span>
                    </p>
                    <a href="javascript:;" class="addtocart" data-id="44701" data-state="0">Thêm vào giỏ hàng</a>
                    <a href="javascript:;" class="buynow" data-id="44701" data-state="0">Mua ngay</a>
                </div>
            </div>
        </li>
        <li class="book  bookimage0">
            <div class="wrap">
                <a href="/sach/42722/hay-cham-soc-me" class="image" title="H&#227;y chăm s&#243;c mẹ">
                    <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2023/3/29/X3DKWBXV.jpg" alt="H&#227;y chăm s&#243;c mẹ" />
                </a>
                <div class="popup">
                    <h1 class="name">
                        <a href="/sach/42722/hay-cham-soc-me" title="H&#227;y chăm s&#243;c mẹ">
                            H&#227;y chăm s&#243;c mẹ
                        </a>
                    </h1>
                    <div class="description"><ul><li>Số trang: 323</li><li>Kích thước: 14 x 20.5cm</li><li>Ngày phát hành: 03-04-2023</li></ul></div>
                    <p class="price">
                        84.800đ
                        <span class="old">106.000đ</span>
                    </p>
                    <a href="javascript:;" class="addtocart" data-id="42722" data-state="0">Thêm vào giỏ hàng</a>
                    <a href="javascript:;" class="buynow" data-id="42722" data-state="0">Mua ngay</a>
                </div>
            </div>
        </li>
        <li class="book  bookimage0">
            <div class="wrap">
                <a href="/sach/41712/vung-dat-quy-tha-ma-bat" class="image" title="V&#249;ng đất quỷ tha ma bắt">
                    <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2023/3/14/RB19NWQ9.jpg" alt="V&#249;ng đất quỷ tha ma bắt" />
                </a>
                <div class="popup">
                    <h1 class="name">
                        <a href="/sach/41712/vung-dat-quy-tha-ma-bat" title="V&#249;ng đất quỷ tha ma bắt">
                            V&#249;ng đất quỷ tha ma bắt
                        </a>
                    </h1>
                    <div class="description"><ul><li>Số trang: 413</li><li>Kích thước: 14 x 20.5cm</li><li>Ngày phát hành: 27-03-2023</li></ul></div>
                    <p class="price">
                        134.400đ
                        <span class="old">168.000đ</span>
                    </p>
                    <a href="javascript:;" class="addtocart" data-id="41712" data-state="0">Thêm vào giỏ hàng</a>
                    <a href="javascript:;" class="buynow" data-id="41712" data-state="0">Mua ngay</a>
                </div>
            </div>
        </li>
        <li class="book  bookimage0">
            <div class="wrap">
                <a href="/sach/41700/metropolis-lich-su-phat-trien-do-thi-phat-min" class="image" title="Metropolis (Lịch sử ph&#225;t triển đ&#244; thị, ph&#225;t minh lớn nhất của lo&#224;i người)">
                    <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2023/2/21/MBDS34VI.jpg" alt="Metropolis (Lịch sử ph&#225;t triển đ&#244; thị, ph&#225;t minh lớn nhất của lo&#224;i người)" />
                </a>
                <div class="popup">
                    <h1 class="name">
                        <a href="/sach/41700/metropolis-lich-su-phat-trien-do-thi-phat-min" title="Metropolis (Lịch sử ph&#225;t triển đ&#244; thị, ph&#225;t minh lớn nhất của lo&#224;i người)">
                            Metropolis (Lịch sử ph&#225;t triển đ&#244; thị, ph&#225;t minh lớn nhất của lo&#224;i người)
                        </a>
                    </h1>
                    <div class="description"><ul><li>Số trang: 622</li><li>Kích thước: 15.5x24 cm</li><li>Ngày phát hành: 27-02-2023</li></ul></div>
                    <p class="price">
                        320.000đ
                        <span class="old">400.000đ</span>
                    </p>
                    <a href="javascript:;" class="addtocart" data-id="41700" data-state="0">Thêm vào giỏ hàng</a>
                    <a href="javascript:;" class="buynow" data-id="41700" data-state="0">Mua ngay</a>
                </div>
            </div>
        </li>
        <li class="book  bookimage0">
            <div class="wrap">
                <a href="/sach/40700/da-ngoai-noi-mat-sau-cua-the-gioi-otherside-p" class="image" title="D&#227; ngoại nơi Mặt sau của Thế giới (Otherside Picnic) 2">
                    <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2023/2/8/QZJB7DKY.jpg" alt="D&#227; ngoại nơi Mặt sau của Thế giới (Otherside Picnic) 2" />
                </a>
                <div class="popup">
                    <h1 class="name">
                        <a href="/sach/40700/da-ngoai-noi-mat-sau-cua-the-gioi-otherside-p" title="D&#227; ngoại nơi Mặt sau của Thế giới (Otherside Picnic) 2">
                            D&#227; ngoại nơi Mặt sau của Thế giới (Otherside Picnic) 2
                        </a>
                    </h1>
                    <div class="description"><ul><li>Số trang: 378</li><li>Kích thước: 13x18 cm</li><li>Ngày phát hành: 17-02-2023</li></ul></div>
                    <p class="price">
                        124.000đ
                        <span class="old">155.000đ</span>
                    </p>
                    <a href="javascript:;" class="addtocart" data-id="40700" data-state="0">Thêm vào giỏ hàng</a>
                    <a href="javascript:;" class="buynow" data-id="40700" data-state="0">Mua ngay</a>
                </div>
            </div>
        </li>
        <li class="book  bookimage0">
            <div class="wrap">
                <a href="/sach/40701/nhung-cau-be-can-dam-the" class="image" title="Những cậu b&#233; can đảm thế">
                    <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2023/2/8/TGGOCQQQ.jpg" alt="Những cậu b&#233; can đảm thế" />
                </a>
                <div class="popup">
                    <h1 class="name">
                        <a href="/sach/40701/nhung-cau-be-can-dam-the" title="Những cậu b&#233; can đảm thế">
                            Những cậu b&#233; can đảm thế
                        </a>
                    </h1>
                    <div class="description"><ul><li>Số trang: 212</li><li>Kích thước: 14 x 20.5cm</li><li>Ngày phát hành: 15-02-2023</li></ul></div>
                    <p class="price">
                        86.400đ
                        <span class="old">108.000đ</span>
                    </p>
                    <a href="javascript:;" class="addtocart" data-id="40701" data-state="0">Thêm vào giỏ hàng</a>
                    <a href="javascript:;" class="buynow" data-id="40701" data-state="0">Mua ngay</a>
                </div>
            </div>
        </li>
        <li class="book  bookimage0">
            <div class="wrap">
                <a href="/sach/40702/chu-be-mang-pyjama-soc" class="image" title="Ch&#250; b&#233; mang pyjama sọc">
                    <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2023/2/9/5BK3HGO4.jpg" alt="Ch&#250; b&#233; mang pyjama sọc" />
                </a>
                <div class="popup">
                    <h1 class="name">
                        <a href="/sach/40702/chu-be-mang-pyjama-soc" title="Ch&#250; b&#233; mang pyjama sọc">
                            Ch&#250; b&#233; mang pyjama sọc
                        </a>
                    </h1>
                    <div class="description"><ul><li>Số trang: 253</li><li>Kích thước: 13 x 20.5 cm </li><li>Ngày phát hành: 15-02-2023</li></ul></div>
                    <p class="price">
                        63.200đ
                        <span class="old">79.000đ</span>
                    </p>
                    <a href="javascript:;" class="addtocart" data-id="40702" data-state="0">Thêm vào giỏ hàng</a>
                    <a href="javascript:;" class="buynow" data-id="40702" data-state="0">Mua ngay</a>
                </div>
            </div>
        </li>
        <li class="book  bookimage0">
            <div class="wrap">
                <a href="/sach/40699/di-tim-dora" class="image" title="Đi t&#236;m Dora">
                    <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2023/2/8/HDEA67JF.jpg" alt="Đi t&#236;m Dora" />
                </a>
                <div class="popup">
                    <h1 class="name">
                        <a href="/sach/40699/di-tim-dora" title="Đi t&#236;m Dora">
                            Đi t&#236;m Dora
                        </a>
                    </h1>
                    <div class="description"><ul><li>Số trang: 148</li><li>Kích thước: 14 x 20.5cm</li><li>Ngày phát hành: 15-02-2023</li></ul></div>
                    <p class="price">
                        68.800đ
                        <span class="old">86.000đ</span>
                    </p>
                    <a href="javascript:;" class="addtocart" data-id="40699" data-state="0">Thêm vào giỏ hàng</a>
                    <a href="javascript:;" class="buynow" data-id="40699" data-state="0">Mua ngay</a>
                </div>
            </div>
        </li>
        <li class="book  bookimage0">
            <div class="wrap">
                <a href="/sach/40697/ban-do-the-gioi-ca-phe---tu-hat-den-pha-che--" class="image" title="Bản đồ thế giới c&#224; ph&#234; - Từ hạt đến pha chế - kh&#225;m ph&#225;, giải th&#237;ch v&#224; thưởng thức c&#224; ph&#234;">
                    <img src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2023/1/30/K86N2QWU.jpg" alt="Bản đồ thế giới c&#224; ph&#234; - Từ hạt đến pha chế - kh&#225;m ph&#225;, giải th&#237;ch v&#224; thưởng thức c&#224; ph&#234;" />
                </a>
                <div class="popup">
                    <h1 class="name">
                        <a href="/sach/40697/ban-do-the-gioi-ca-phe---tu-hat-den-pha-che--" title="Bản đồ thế giới c&#224; ph&#234; - Từ hạt đến pha chế - kh&#225;m ph&#225;, giải th&#237;ch v&#224; thưởng thức c&#224; ph&#234;">
                            Bản đồ thế giới c&#224; ph&#234; - Từ hạt đến pha chế - kh&#225;m ph&#225;, giải th&#237;ch v&#224; thưởng thức c&#224; ph&#234;
                        </a>
                    </h1>
                    <div class="description"><ul><li>Số trang: 268</li><li>Kích thước: 19x27 cm</li><li>Ngày phát hành: 06-02-2023</li></ul></div>
                    <p class="price">
                        295.200đ
                        <span class="old">369.000đ</span>
                    </p>
                    <a href="javascript:;" class="addtocart" data-id="40697" data-state="0">Thêm vào giỏ hàng</a>
                    <a href="javascript:;" class="buynow" data-id="40697" data-state="0">Mua ngay</a>
                </div>
            </div>
        </li>
    </ul>
</div>

