@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Masterlayout.cshtml";
}

<link href="~/Content/DetailStyle.css" rel="stylesheet" />
<div class="container">
    <div style=" margin: 0 auto;text-align:center;">
        <a href="http://nhanam.com.vn/combo-sach-null/null"> <img src="~/Content/pic/anh1.jpg" style="width: 1000px;" /></a>
    </div>
    <header class="category">sách mới xuất bản</header>
</div>
<ul class="listbookP clearfix">
    <li class="bookP">
        <a href="http://localhost:52560/Home/Detail"><img src="~/Content/pic2/book1.jpg" /></a>
    </li>
    <li class="bookP">

        <img src="~/Content/pic2/book2.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Content/pic2/book3.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Content/pic2/book4.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Content/pic2/book5.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Content/pic2/book6.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Content/pic2/book7.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Content/pic2/book1.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Content/pic2/book2.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Content/pic2/book3.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Content/pic2/book4.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Content/pic2/book5.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Content/pic2/book6.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Content/pic2/book7.jpg" />
    </li>
    <li class="bookP">
        <img src="~/Content/pic2/book1.jpg" />
    </li>

</ul>